html{
  font-family: "Helvetica Neue";
}

body {
  margin: 0px;
}

header {
  padding: 0px 20px;
  position: relative;
  background-color: #06D6A0;
}

nav {
  display: inline-block;
  float: right;
}

section {
  overflow: hidden;
}

img {
  max-width: 100%
}

.logo {
  line-height: 60px;
  font-size: 18px;
  color: white;
  display: inline-block;
  margin: 0px;
}

.nav-item {
  z-index: 100;
  display: inline-block;
  margin-right: 10px;
}

.container {
  max-width: 900px;
  margin: auto;
}

.hero-image {
  float: left;
  width: 60%;
}
.hero-content {
  color: white;
  font-size: 25px;
  width: 40%;
  float: left;
  text-align: center;
}

#home {
  background-color: #26547C;
}

nav>ul{
  list-style: none;
  text-align: right;
}

nav a {
  font-size: 20px;
  line-height: 60px;
}

ul.navbar{
  margin: 0px;
}
